.root {
  @apply bg-foreground text-background flex items-center cursor-pointer px-5 lg:px-10 py-2.5 lg:py-3 text-sm lg:text-base rounded-sm leading-6 transition ease-in-out duration-150 shadow-sm text-center justify-center uppercase border border-transparent;
}

.root:hover {
  @apply bg-gray text-zink border border-zink;
}

.root:focus {
  @apply outline-none ring-2 ring-purple ring-opacity-50;
}

.root[data-active] {
  @apply bg-zinc-600;
}

.disabled,
.disabled:hover {
  @apply text-zinc-400 border-zinc-600 bg-zinc-700 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}