@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121212;
    --foreground: 200 20% 96%;
    --zink: #d4d4d8;
    --darkzink: #d4d4d8a9;
    --gray: #27272a;
    --milk: #DEEBFF;
    --purple: #bb86fc;
    --error: #CF6679;
    --success: #03DAC6;
    --surface: 200 50% 3%;
    --cols: 12;
    --gridSize: calc(100vw / var(--cols));
    --pricing-table-column-width: 312px;
  }

  * {
    @apply border-foreground/20;
  }

}

._grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--gridSize));
  grid-gap: 0px;
}

._grid>* {
  grid-column: 2/-2;
}

._col-full {
  grid-column: 1 / -1;
}

._grid-areas-account {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "bio sub sub "
    "stripe sub sub";
  gap: 1rem;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-areas: "bio"
      "stripe"
      "sub";
  }
}

._grid-area-bio {
  grid-area: bio;
}

._grid-area-sub {
  grid-area: sub;
}

._grid-area-stripe {
  grid-area: stripe;
}