@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 50% 3%;
    --btn-background: 200 10% 9%;
    --btn-background-hover: 200 10% 12%;
    --foreground: 200 20% 96%;
    --cols: 12;
    --gridSize: calc(100vw / var(--cols));
  }
  * {
    @apply border-foreground/20;
  }

}
/* 
@layer base {
  * {
    @apply border-foreground/20;
  }

  :root {
    --cols: 12;
    --gridSize: calc(100vw / var(--cols));
  }
} */

._grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--gridSize));
  grid-gap: 0px;
}

._grid>* {
  grid-column: 2/-2;
}

._col-full {
  grid-column: 1 / -1;
}